@import "color.css";

#topContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    margin-top: 20px;
    height: 40px;
}

#contentContainer {
    padding: 0 16px;
}

#chat__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 30px;
}

#chat__item--left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#chat__item__desc {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

#chat__item--title {
    font-size: 20px;
}

#chat__item--subtitle {
    font-size: 16px;
    color: #7f7f7f;
}

#chat__item--right {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    align-items: center;
}

#chat__item--members {
    margin-right: 3px;
    margin-bottom: 10px;
}

#chat__item--notification {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    border-radius: 50%;
    color: white;
    font-weight: 600;
}
