
@import "../css/color.css";

#login-form { }

#login-form input {
    border: 0;
    outline: 0;
    display: block;
    width: 100%;
    margin: 15px 0;
    height: 2rem;
    font-size: 1.2rem;
}

#login-form__input {
}

#login-form__btn {
}

#login-form input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0 , 0, 0, 0.2);
    transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
    color: rgba(0, 0, 0, 0.4)
}

#login-form input:focus {
    border-color: var(--yellow);
}

#login-form input[type="submit"] {
    font-size: 1rem;
    height: 3rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--yellow);
    border-radius: 5px;
}

#login-form a {
    display: block;
    width: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}
